<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992675182588-kclm3fjaaaf38p11v82dbmmt0uib25a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992675182588-kclm3fjaaaf38p11v82dbmmt0uib25a7</string>
	<key>API_KEY</key>
	<string>AIzaSyB7909dTzUof2gecgcmksg7dGcpT4y82vo</string>
	<key>GCM_SENDER_ID</key>
	<string>992675182588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shop.mtcoding.riverpodFirestoreStream</string>
	<key>PROJECT_ID</key>
	<string>fireapp-5e5f2</string>
	<key>STORAGE_BUCKET</key>
	<string>fireapp-5e5f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992675182588:ios:ecf6d87b784202e71da479</string>
</dict>
</plist>